<form action="/tour/my_tour" id="course_search" name="course_search" method="post">
  <input type="hidden" name="search_word" id="search_word">
  <div class="checkbox2">
    <div class="checks2 group">
      <div class="item">
        <a href="/course/family">
          <img class="img-responsive center-block" src="/images/family_course.png">
          <label for="purpose0">가족여행</label>
        </a>
      </div>
      <div class="item">
        <a href="/course/friend">
          <img class="img-responsive center-block" src="/images/friend_course.png">
          <label for="purpose1">우정여행</label>
        </a>
      </div>
      <div class="item">
        <a href="/course/couple">
          <img class="img-responsive center-block" src="/images/couple_course.png">
          <label for="purpose2">커플여행</label>
        </a>
      </div>
      <div class="item">
        <a href="/course/alone">
          <img class="img-responsive center-block" src="/images/alone_course.png">
          <label for="purpose3">나혼자여행</label>
        </a>
      </div>
    </div>
  </div>
  <div><br></div>
</form>
