<header>
  <div class="header">
    <div class="headTop">
      <span class="logo">
        <a href="/">
          <img class="img-responsive center-block" src="/images/logo.png" alt="logo">
        </a>
      </span>
      <div class="loginArea" style="width:125px;">
        <!-- loginArea : 로그인 후 -->
        <% if(user_id != null) { %>
        <a href="/auth/logout">로그아웃</a>
        <span>|</span>
        <% if(user_id == 'admin') { %>
        <a href="/admin">
          <%=user_id%>님 환영합니다!</a>
        <% } %>

        <% if(user_id != 'admin') { %>
        <a href="/mypage">
          <%=user_id%>님 환영합니다!</a>
        <% } %>
        <% } %>
        <!-- 로그인 전 -->
        <% if(user_id == null) { %>
        <a href="/auth/login">로그인</a>
        <span>|</span>
        <a href="/auth/join">회원가입</a>
        <span>|</span>
        <a href="/auth/google">구글로그인</a>
        <% }   %>
      </div>
    </div>
  </div>
</header>
